<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>FAQ</title>
</head>
<body>
<div th:insert="fragments/nav::copy"></div>

	<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a href="#basics">Basics</a></li>
		<li><a href="#mobile">Mobile</a></li>
		<li><!-- ... --></li>
	</ul>
 
	<div class="cd-faq-items">
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Basics</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Comment supprimer un rentier?</a>
				<div class="cd-faq-content">
					Pour pouvoir supprimer un rentier, il faut tout d'abord supprimer tous les versements qui lui sont affecté (dans le sous menu "effectuer un versement").
					Ensuite toutes ses revalorisations (dans le sous menu "faire une revalorisation de rente"). Puis supprimer toutes les rentes qui lui sont accordés (dans le sous menu "gestion des rentes").
					Et enfin, vous pouvez supprimer le rentier dans le menu "gestion des rentiers".
				</div> 
			</li>
 
			<li> 
				<a class="cd-faq-trigger" href="#0">Appliqué la revalorisation en boucle</a>
				<div class="cd-faq-content">
					Effectuer la revalorisation en boucle se fait de la manière suivante. Il faut aller dans la rubrique "enregistrer les revalorisations" qui se trouve dans le menu "Activité périodique".
					Arrivé sur la page vous trouverez un tableau sur la partie gauche de l'écran qu'il faudra remplir puis enregistrer une fois ce dernier complété.
					Maintenant deux possibilité s'offre à vous pour appliquer cette revalorisation. La première façon est cliqué sur la dernière revalorisation qui se trouve dans le tableau situé à droite de votre écran (celle-ci sera affiché dans le tableau de gauche une fois cliqué) vous aurez juste à cliqué sur le bouton "Revaloriser" et votre revalorisation sera effectue.
					La deuxième façon est d'aller dans le sous menu "appliqué la revalorisation en boucle" se trouvant dans le menu "Activité périodique" et la revalorisation se fera automatiquement avec le dernier coefficient effectué.
				</div> 
			</li>
 
			<li><!-- ... --></li>
		</ul>
 
		<ul id="mobile" class="cd-faq-group">
			<!-- ... -->
		</ul> 
 
		<!-- ... -->
	</div> 
</section>


</body>
</html>