<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
        <h3 th:text="${#session.getId()}"> C'est la clé de Session</h3>
        <h3 th:text="${#session.getCreationTime()}"> C'est heure de Session</h3>
        <h3 th:text="${#session.getValueNames()}"> C'est heure de Session</h3>
        <div sec:authentication="principal.authorities">
            The value of the "name" property of the authentication object should appear here.
        </div>
        <div sec:authentication="principal.username">
            The value of the "name" property of the authentication object should appear here.
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>